/*Changing default styles of the browser*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;

  padding: 0;
  box-sizing: border-box;
  
}
html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  }

  main {
    justify-content: center;
      display: grid;
      padding-top: 4em;
      padding-bottom: 3em;
      min-height: 85%;
      
  }

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}
/**
*!header STyles 
*/

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e1e6e2;
  color: white;
  padding: 20px 30px;
  
}
/**
*!footer styles
*/
.footer {
  background-color: #4534fe;
  padding: 6px;
}
/**
*!home pege styles
*/
.paragraph {
  font-family: swap;
  font-style: italic;
  padding: 1rem;
  background-color: #fff;
  font-size: 1.5em;
  border-radius: 1px;
  font-weight: bold;
  color: rgb(109, 216, 3);
  background-color: #212529;
  padding-top: 1px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0.2px;
  background-color: aqua;
    }
.column img {
  width: 150px;
  height: 160px;
}
    
    
    .market {
      height: 250px;
      width: 50%;
      float: left;
      padding: 0.2px;
    }
    
    a:visited,
 a:link {
     color: blue;
}

 a:hover{
    color: blue;
    text-decoration: underline;
}
 a:active{
    color: red;
}
      
      
/**
*!cart icon styles
*/
.cart {
  position: relative;
  background-color: #fff;
  color: #212529;
  font-size: 25px;
  padding: 3px;
  border-radius: 4px;
  
  
}

.cartAmount {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 3px;
}
/**
*!Shop items styles
*/

.shop {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
  margin-bottom: 0px;
  font-style: italic;
  
}
h2{
background-color: yellow;
border-radius: 4px;
}

h3 {
  font-family: swap;
  color: #07b20f;
  background-color: #212529;
}

@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 223px);
  }
  
}

@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 223px);
  }
  
}

.item {
  border: 2px solid #212529;
  border-radius: 4px;
}
.item img {
  width: 100%;
  height: 150px;
  border-radius: 2px 2px 0 0;
  
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  
}

.price-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

 

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 20px;
}

.bi-dash-circle-fill {
  color: red;
}

.bi-plus-circle-fill {
  color: green;
}
/**
*!style rules for label and some buttons
*/

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
  background-color: #212529;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.checkout {
  background-color: green;
}
.removeAll {
  background-color: red;
}
.bi-x-lg {
  color: red;
  font-weight: bold;
}
/**
*!style rules for shopping-cart
*/

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 340px);
  justify-content: center;
  gap: 15px;
  
}
/**
*! style for cart-item
*/
.cart-item {
  border:2px solid #212529;
  border-radius: 5px;
  display: flex;
  background-color: aqua;
}

.title-price-x {
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.title-price {
  display: flex;
  align-items: center;
  gap: 15px;
  }

.cart-item-price {
  background-color: yellow;
  color: black;
  border-radius: 4px;
  padding: 0.1px 0.1px;
}


/** 

*!HAMBURGER Menu-Links styles
*/


nav a:visited,
nav a:link {
     color: #fff;
    text-decoration: none;
}

nav a:hover{
    color: blue;
    text-decoration: underline;
}
nav a:active{
    color: red;
}
li#link1 a {
     background-color: blue;
}
li#link2 a {
    background-color:  blue;
}
li#link3 a {
    background-color:  blue;
}
 
nav > ul > {
display: inline;
flex-wrap: wrap;
padding: 0;
}
 nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
    }




.hamburger {
    background-color: transparent;
    border: 0;
    display: none;
    color: rgb(49, 30, 219);
    cursor: pointer;
    font-size: 20px;
}
.hamburger:hover {
    color: rgb(231, 24, 121);
}
.hamburger:active{
    color: red;
}

.hamburger:focus {
    outline: none;
}

 @media (max-width:568px) {
     .nav-ul {
         display: none;
         flex-direction: column;
         width: 100%;
        
         
     }
     .nav-ul.show {
         display: flex;
     }
     .hamburger {
         display: block;
         
     }}

/**
* !Registration Form:
*/
.become,
.registration {
  background-color: #fff;
  text-align: center;
  background-color: #9d9ac0;
  margin: 1px;
  border-radius: 5px;
  margin-top: 8px;
}

.become
  .wrapper {
      width: 800px;
      max-width: 20%;
      margin: 0 auto;
      margin-left: auto;
      margin-right: auto;
      
  
  }
  .wrapper label {
      display: block;
      margin: 0.5em 0;
      margin-left: auto;
      margin-right: auto;

  }
  .wrapperr label input {
      font-size: 18px;
      padding: 0.5em;

  }
  .wrapper input[type="submit"]{
      font-size: 18px;
      color: blue;
      margin: 0.2em 0;
      cursor: pointer;
      width: 210px;
      }

      

      .wrapper input[type="reset"]{
        font-size: 18px;
        color: blue;
        margin: 0.2em 0;
        cursor: pointer;
        width: 210px;
        
        }

        

      /**
      * !login form styles
      */
      .or-login {
        text-align: center;
        background-color: #9d9ac0;
        border-radius: 4px;
        
        align-content: center;
      
      }
      .login [type="login"]{
        font-size: 18px;
        color: blue;
        margin: 0.2em 0;
        
        }
        .login-button {
          width: 200px;
          color: #4534fe;
          background-color: #3333;
        }

/**
*!converter app styles
*/
.Exchange{
  
  margin-left: auto;
  margin-right: auto;
  display: flex;
  
  width: 340px;
  padding: 3px;
  border-radius: 7px;
  background: rgb(92, 41, 146);
  box-shadow: 1px 2px 10px rgba(157, 10, 10, 0.05);
}
.wrapper form{
  margin: 10px 0 0px 0;
}
form :where(input, select, button){
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}
form h{
  font-size: 19px;
  margin-bottom: 4px;
}
form input{
  height: 25px;
  font-size: 20px;
  padding: 0 15px;
  border: 2px solid #999;
}
form input:focus{
  padding: 0 14px;
  border: 2px solid #675AFE;
}
form .drop-list{
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
}
.drop-list .select-box{
  display: flex;
  width: 90px;
  height: 28px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 2px solid #999;
}
.select-box img{
  max-width: 15px;
  max-height: 12px;
}
.select-box select{
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -1px 8 1px;
}
.select-box select::-webkit-scrollbar{
  width: 1px;
}
.select-box select::-webkit-scrollbar-track{
  background: #fff;
}
.select-box select::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 2px;
  border-right: 2px solid #ffffff;
}
.drop-list {
  cursor: pointer;
  
}
.bi-arrow-left-right{
  cursor: pointer;
  margin-top: 20px;
font-size: 22px;
color: #fff;

}
form .exchange-rate{
  font-size: 19px;
  margin: 2px 0 0px;
  
}
form button{
  height: 32px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  background: green;
  transition: 0.3s ease;
}
form button:hover{
  background: #4534fe;
}


/** 
* ! Checkout button styles
*/

.order {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  font-weight: bold;
  
}

.order.active {
  transform: translate(-50%, -50%) scale(1);
}

.order-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.order-header .title {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: yellow;
}


.order-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2.25rem;
  font-weight: bold;
}
.close-button:hover {
    color: red;

}
.order-body {
  padding: 10px 15px;
}

button {
    cursor: pointer;
}

button:hover{
    color: red;
}
button {
  background-color: aqua;
  font-weight: bold;
}
.con {
  color: #4534fe;
  text-decoration: underline;
}



#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


       